body {
    background-color: center;
}

.historycard {
    background-color: #fff;
    border: solid #201f73;
}

.confirmbutton--red {
    border: 3px solid red;
    color: red;
}

.confirmbutton--red:hover{
    background: red;
    color: #fff;
    transition: 0.3s ease-in-out;
}