body {
    background-color: #121212;
    color: #f2f2f2;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #202020;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #2e2d5c;
    color: white;
}

.topnav p {
    color: #f2f2f2;
}

.confirmbutton {
    border: 3px solid #8C82FC;
    background: #202020;
    color: #8C82FC;
}
  
.confirmbutton:hover{
    background: #404040;
    color: #fff;
}

.form--input {
  color: #ccc;
  background-color: #202020;
}

/* Second toggle btn */

#_2nd-toggle-btn span
{
    border: 2px solid #fff;
    border-color: #fff;
    background-color: #383838;
}

#_2nd-toggle-btn span:before
{
    border-color: #b3b3b3;
}
#_2nd-toggle-btn input[type="checkbox"]:checked + span
{
    border-color: #8C82FC;
}

#_2nd-toggle-btn input[type="checkbox"]:checked + span:before
{
    border-color: #8C82FC;
}

.confirmbutton--green {
    border: 3px solid green;
    color: green;
}

.confirmbutton--green:hover{
    background: #404040;
    color: #fff;
}