@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/* Hero */
.hero {
    height: 90%;
    padding-bottom: 7.03125%;
    padding-top: 7.03125%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero--title {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 100px 0;
}

.hero--buttonrow {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero--buttonrow a {
    text-decoration: none;
}

.hero--buttonrow .hero--button {
	 width: 400px;
     margin: 0 10px 0 0;
	 height: 100px;
	 position: relative;
	 margin-bottom: 25px;
	 border-radius: 32px;
	 text-align: center;
	 cursor: pointer;
     transform: scale(0.75);
}
 
.title--header {
    font-size: 400%;
}

.title--descriptor {
    font-size: 200%;
}

.center {
    text-align: center;
}

/* Input */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name--label {
    font-size: 175%;
}

.suggestions--container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120%;
    margin: 10px 0;
}

#suggestions {
    border-radius: 20px;
    width: 70%;
    opacity: 100%;
    transition: opacity 0.33s ease;
}

.suggestions div {
    padding: 0px 5px 5px 5px;
    font-size: 1rem;
    cursor: pointer;
}

.suggestions div:first-child {
    border-radius: 17px 17px 0 0;
}

.suggestions div:last-child {
    border-radius: 0 0 17px 17px;
}

.suggestions div:only-child {
    border-radius: 17px 17px 17px 17px;
}

#suggestions.suggestions--hidden {
    border: 0px;
    opacity: 0%;
    display: none;
}