@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/* Hero */
.hero {
    background: #fff;
}

.hero--buttonrow .hero--button {
     box-shadow: -6px -6px 10px rgba(204, 83, 51, 0.2), 6px 6px 10px rgba(35, 7, 77, 0.2);
	 color: #6f6cde;
}
