body {
    background-color: center;
}

.historycard {
    background-color: #1d1d1d;
    border: solid #999;
    color: #aaa;
}

.historycard:hover {
    background: #404040;
    color: #fff;
}

.confirmbutton--red {
    border: 3px solid red;
    color: red;
}

.confirmbutton--red:hover{
    background: #404040;
    color: #fff;
}

.tooltip {
    background-color: #1d1d1d;
    border: solid #999;
    color: #aaa;
}