body {
    background-color: center;
}

.historycard {
    background-color: #fff;
    border: solid #201f73;
    transition: background-color 0.3s;
}

.historycard:hover {
    background-color: #ddd;
    transition: background-color 0.3s;
}