#_2nd-toggle-btn input[type="checkbox"]:checked + span
{
    border-color: black;
}

#_2nd-toggle-btn input[type="checkbox"]:checked + span:before
{
    border-color: black;
    transform: translate(-3px,5px);
}