.customfield--container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.formgroup--max {
    transform: scale(1);
}

.buttoncontainer {
    margin-left: 10%;
}

.confirmbutton {
    display: block;
    margin-bottom: 10px;
}

#_2nd-toggle-btn span:before
{
    transform: translate(12px,5px);
}
#_2nd-toggle-btn input[type="checkbox"]:checked + span
{
    border-color: black;
}

#_2nd-toggle-btn input[type="checkbox"]:checked + span:before
{
    border-color: black;
    transform: translate(-3px,5px);
}

.confirmbutton--green {
    border: 3px solid green;
    color: green;
}

.confirmbutton--green:hover{
    background: green;
    color: #fff;
    transition: 0.3s ease-in-out;
}